@tailwind base;
@tailwind components;
@tailwind utilities;

@layer mantine, base, components, utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --warning: 47.9 95.8% 53.1%; /*! yellow-400 */
    --warning-foreground: 240 10% 3.9%; /*! zinc-950 */

    --grayish: 215.3 19.3% 34.5%; /*! slate-600 */
    --grayish-foreground: 0 0% 98%; /*! zinc-50 */

    --success: 142.1 76.2% 36.3%; /*! green-600 */
    --success-foreground: 0 0% 98%; /*! zinc-50 */

    --bluish: 217.2 91.2% 59.8%; /*! blue-500 */
    --bluish-foreground: 0 0% 98%; /*! zinc-50 */

    --info: 188.7 94.5% 42.7%; /*! cyan-500 */
    --info-foreground: 0 0% 98%; /*! zinc-50 */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --warning: 45.4 93.4% 47.5%; /*! yellow-500 */
    --warning-foreground: 240 10% 3.9%; /*! zinc-950 */

    --grayish: 217.2 32.6% 17.5%; /*! slate-800 */
    --grayish-foreground: 0 0% 98%; /*! zinc-50 */

    --success: 142.8 64.2% 24.1%; /*! green-800 */
    --success-foreground: 0 0% 98%; /*! zinc-50 */

    --bluish: 225.9 70.7% 40.2%; /*! blue-800 */
    --bluish-foreground: 0 0% 98%; /*! zinc-50 */

    --info: 198.6 88.7% 48.4%; /*! sky-500 */
    --info-foreground: 240 10% 3.9%; /*! zinc-950 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
